@font-face { font-family: azuki_font; src: url('../other/azuki.ttf') } 

#comments-section {
    margin: 20px;
    font-family: 'azuki_font', sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    width: 21%;  /* Set width to 21% of the screen */
    height: calc(100vh - 40px);  /* Adjust height to take into account the margin */
    background: transparent;
    color: white;
    padding: 20px;
    border: 1px solid white;
    border-radius: 10px;
    z-index: 1005;
    overflow-y: auto;  /* Allow scrolling within the section if content exceeds height */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}


#comments-section::-webkit-scrollbar {
    width: 8px;  /* Optional: Style the scrollbar */
}

#comments-section::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.5); /* Optional: Style the scrollbar thumb */
    border-radius: 10px;
}

#comments-section h2 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
    color: white;
}

#commentForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

#commentForm input,
#commentForm textarea {
    font-family: 'azuki_font', sans-serif;
    padding: 10px;
    margin: 5px;
    width: 100%;
    max-width: 100%;
    font-size: 1em;
    border-radius: 5px;
    border: 1px solid white;
    background-color: transparent;
    color: white;
}

#commentForm button {
    font-family: 'azuki_font', sans-serif;
    padding: 10px 20px;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

#commentForm button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

#comments-list {
    flex-grow: 1;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column-reverse; 
}

.comment {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid white;
    border-radius: 5px;
    background: transparent;
}

.comment strong {
    font-weight: bold;
    color: white;
}

#pagination {
    text-align: center;
    margin-top: 10px;
}

#pagination button {
    padding: 5px 15px;
    margin: 0 10px;
    cursor: pointer;
    font-size: 1em;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    border-radius: 5px;
}

#pagination button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

#pagination span {
    font-size: 1.2em;
    color: white;
}
