.comments-container {
    position: fixed;
    left: 0;
    top: 0;
    width: 21%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    border-right: 1px solid rgba(255, 255, 255, 0.8);
    color: white;
    font-family: monospace;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding-top: 50px;
    padding-left: 10px; 
}

.controls-section {
    padding: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.8);
    width: 100%;
    box-sizing: border-box;
}

.comment-form {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 15px;
}

.username-input {
    width: 95%;
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: white;
    padding: 8px;
    margin-bottom: 10px;
    height: 20px;
    resize: none;
    font-family: monospace;
    margin-bottom: 15px;
}

.comment-input {
    width: 95%;
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: white;
    padding: 8px;
    margin-bottom: 10px;
    height: 80px;
    resize: none;
    font-family: monospace;
}

.comments-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 15px 0;
}

.nav-button, .submit-button {
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 5px 15px;
    cursor: pointer;
    font-family: monospace;
}

.nav-button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.comments-list {
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column-reverse;
    gap: 15px;
    height: calc(100vh - 250px);
    overflow-y: auto;
}

.comment {
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.1);
}

.comment:last-child {
    margin-bottom: 0;
}

.comment-content {
    word-wrap: break-word;
    margin-bottom: 5px;
}

.comment-user {
    font-size: 0.9em;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 5px;
}

.comment-date {
    font-size: 0.8em;
    color: rgba(255, 255, 255, 0.6);
}

.comments-list::-webkit-scrollbar {
    width: 8px;
}

.comments-list::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.3);
}

.comments-list::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 4px;
}


.glitch-effect {
    position: relative;
    color: #fff;
    font-size: 4em;
    letter-spacing: 0.5em;
    animation: glitch-effect-skew 1s infinite linear alternate-reverse;
  }
  
  .glitch-effect::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 2px;
    width: 100%;
    height: 100%;
    text-shadow: -2px 0 #ff00c1;
    clip: rect(44px, 450px, 56px, 0);
    animation: glitch-effect-anim 5s infinite linear alternate-reverse;
  }
  
  .glitch-effect::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: -2px;
    width: 100%;
    height: 100%;
    text-shadow: -2px 0 #ff00c1, 2px 2px #ff00c1;
    clip: rect(44px, 450px, 56px, 0);
    animation: glitch-effect-anim2 5s infinite linear alternate-reverse;
  }
  
  @keyframes glitch-effect-anim {
    0% {
      clip: rect(0px, 9999px, 100px, 0);
      transform: skew(0deg);
    }
    5% {
      clip: rect(30px, 9999px, 40px, 0);
      transform: skew(2deg);
    }
    10% {
      clip: rect(10px, 9999px, 50px, 0);
      transform: skew(-1deg);
    }
    15% {
      clip: rect(60px, 9999px, 80px, 0);
      transform: skew(5deg);
    }
    20% {
      clip: rect(30px, 9999px, 20px, 0);
      transform: skew(-3deg);
    }
    25% {
      clip: rect(50px, 9999px, 60px, 0);
      transform: skew(2deg);
    }
    30% {
      clip: rect(40px, 9999px, 70px, 0);
      transform: skew(4deg);
    }
    35% {
      clip: rect(20px, 9999px, 40px, 0);
      transform: skew(-2deg);
    }
    40% {
      clip: rect(30px, 9999px, 60px, 0);
      transform: skew(1deg);
    }
    45% {
      clip: rect(50px, 9999px, 30px, 0);
      transform: skew(3deg);
    }
    50% {
      clip: rect(70px, 9999px, 90px, 0);
      transform: skew(-5deg);
    }
    55% {
      clip: rect(40px, 9999px, 80px, 0);
      transform: skew(2deg);
    }
    60% {
      clip: rect(10px, 9999px, 40px, 0);
      transform: skew(-3deg);
    }
    65% {
      clip: rect(30px, 9999px, 50px, 0);
      transform: skew(1deg);
    }
    70% {
      clip: rect(60px, 9999px, 70px, 0);
      transform: skew(2deg);
    }
    75% {
      clip: rect(40px, 9999px, 60px, 0);
      transform: skew(-2deg);
    }
    80% {
      clip: rect(50px, 9999px, 90px, 0);
      transform: skew(3deg);
    }
    85% {
      clip: rect(20px, 9999px, 40px, 0);
      transform: skew(-1deg);
    }
    90% {
      clip: rect(10px, 9999px, 50px, 0);
      transform: skew(0deg);
    }
    95% {
      clip: rect(30px, 9999px, 20px, 0);
      transform: skew(2deg);
    }
    100% {
      clip: rect(0px, 9999px, 100px, 0);
      transform: skew(-4deg);
    }
  }
  
  @keyframes glitch-effect-anim2 {
    0% {
      clip: rect(0px, 9999px, 100px, 0);
      transform: skew(0deg);
    }
    5% {
      clip: rect(40px, 9999px, 50px, 0);
      transform: skew(1deg);
    }
    10% {
      clip: rect(10px, 9999px, 30px, 0);
      transform: skew(3deg);
    }
    15% {
      clip: rect(60px, 9999px, 80px, 0);
      transform: skew(-2deg);
    }
    20% {
      clip: rect(30px, 9999px, 40px, 0);
      transform: skew(4deg);
    }
    25% {
      clip: rect(50px, 9999px, 70px, 0);
      transform: skew(-3deg);
    }
    30% {
      clip: rect(40px, 9999px, 60px, 0);
      transform: skew(5deg);
    }
    35% {
      clip: rect(20px, 9999px, 30px, 0);
      transform: skew(2deg);
    }
    40% {
      clip: rect(30px, 9999px, 60px, 0);
      transform: skew(1deg);
    }
    45% {
      clip: rect(50px, 9999px, 30px, 0);
      transform: skew(3deg);
    }
    50% {
      clip: rect(70px, 9999px, 90px, 0);
      transform: skew(-5deg);
    }
    55% {
      clip: rect(40px, 9999px, 80px, 0);
      transform: skew(2deg);
    }
    60% {
      clip: rect(10px, 9999px, 40px, 0);
      transform: skew(-3deg);
    }
    65% {
      clip: rect(30px, 9999px, 50px, 0);
      transform: skew(1deg);
    }
    70% {
      clip: rect(60px, 9999px, 70px, 0);
      transform: skew(2deg);
    }
    75% {
      clip: rect(40px, 9999px, 60px, 0);
      transform: skew(-2deg);
    }
    80% {
      clip: rect(50px, 9999px, 90px, 0);
      transform: skew(3deg);
    }
    85% {
      clip: rect(20px, 9999px, 40px, 0);
      transform: skew(-1deg);
    }
    90% {
      clip: rect(10px, 9999px, 50px, 0);
      transform: skew(0deg);
    }
    95% {
      clip: rect(30px, 9999px, 20px, 0);
      transform: skew(2deg);
    }
    100% {
      clip: rect(0px, 9999px, 100px, 0);
      transform: skew(-4deg);
    }
  }
  
  @keyframes glitch-effect-skew {
    0% {
      transform: skew(0deg);
    }
    5% {
      transform: skew(3deg);
    }
    10% {
      transform: skew(-2deg);
    }
    15% {
      transform: skew(1deg);
    }
    20% {
      transform: skew(2deg);
    }
    25% {
      transform: skew(0deg);
    }
    30% {
      transform: skew(-3deg);
    }
    35% {
      transform: skew(1deg);
    }
    40% {
      transform: skew(0deg);
    }
    45% {
      transform: skew(2deg);
    }
    50% {
      transform: skew(-1deg);
    }
    55% {
      transform: skew(0deg);
    }
    60% {
      transform: skew(3deg);
    }
    65% {
      transform: skew(1deg);
    }
    70% {
      transform: skew(-2deg);
    }
    75% {
      transform: skew(1deg);
    }
    80% {
      transform: skew(0deg);
    }
    85% {
      transform: skew(3deg);
    }
    90% {
      transform: skew(-1deg);
    }
    95% {
      transform: skew(2deg);
    }
    100% {
      transform: skew(0deg);
    }
  }

.comments-container.disabled {
    pointer-events: none;
    opacity: 0.5;
}

.comments-container.disabled .comment-form,
.comments-container.disabled .nav-button,
.comments-container.disabled .submit-button {
    pointer-events: none;
    opacity: 0.5;
}
