// Credits to: https://codepen.io/kay_dev/pen/YLdVjw
@import url('https://fonts.googleapis.com/css?family=Montserrat:100');

/* Our mixin positions a copy of our text
directly on our existing text, while
also setting content to the appropriate
text set in the data-text attribute. */
@mixin glitchCopy { 
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.glitch {
position: relative;
color: white;
font-size: 2em;
letter-spacing: .5em;
/* Animation provies a slight random skew. Check bottom of doc
for more information on how to random skew. */
animation: glitch-skew 1s infinite linear alternate-reverse;

// Creates a copy before our text. 
&::before {
    // Duplicates our text with the mixin.
    @include glitchCopy;
    // Scoots text slightly to the left for the color offset.
    left: 2px;
    // Creates the color 'shadow' that happens on the glitch.
    text-shadow: -2px 0 #ff00c1;
    /* Creates an initial clip for our glitch. This works in
    a typical top,right,bottom,left fashion and creates a mask
    to only show a certain part of the glitch at a time. */
    clip: rect(44px, 450px, 56px, 0);
    /* Runs our glitch-anim defined below to run in a 5s loop, infinitely,
    with an alternating animation to keep things fresh. */
    animation: glitch-anim 5s infinite linear alternate-reverse;
}

// Creates a copy after our text. Note comments from ::before.
&::after {
        @include glitchCopy;
        left: -2px;
        text-shadow: -2px 0 #00fff9, 2px 2px #ff00c1;
        animation: glitch-anim2 1s infinite linear alternate-reverse;
    }
}

/* Creates an animation with 20 steaps. For each step, it calculates 
a percentage for the specific step. It then generates a random clip
box to be used for the random glitch effect. Also adds a very subtle
skew to change the 'thickness' of the glitch.*/
@keyframes glitch-anim {
$steps: 20;
        @for $i from 0 through $steps {
        #{percentage($i*(1/$steps))} {
        clip: rect(random(100)+px, 9999px, random(100)+px, 0);
                transform: skew((random(100) / 100) + deg);
        }
    }
}

// Same deal, just duplicated for ultra randomness.
@keyframes glitch-anim2 {
$steps: 20;
        @for $i from 0 through $steps {
        #{percentage($i*(1/$steps))} {
        clip: rect(random(100)+px, 9999px, random(100)+px, 0);
                transform: skew((random(100) / 100) + deg);
        }
    }
}

// Does the same deal as before, but now only skews. Used for main text.
@keyframes glitch-skew {
$steps: 10;
        @for $i from 0 through $steps {
        #{percentage($i*(1/$steps))} {
        transform: skew((random(10) - 5) + deg);
        }
    }
}





body {
    background-color: #000;
    color: #fff;
    font-family: 'Montserrat', sans-serif; // Before Montserrat there was Arial
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

#typing-animation::after {
    content: "|";
    animation: blink-caret 0.75s infinite;
    position: absolute;
    top: 49.7%; /* this is really ugly but works ig */
    transform: translateY(-50%);
}

@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

@keyframes blink-caret {
    from, to { opacity: 1; }
    50% { opacity: 0; }
}

@keyframes backspace {
    from { width: 100%; }
    to { width: 0; }
}

audio, video {
    margin-top: 20px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    opacity: 1;
    transition: opacity 0.5s ease;
}

.overlay.fade-in {
    opacity: 100;
  }

.overlay.fade-out {
    opacity: 0;
}

.overlay-text {
    text-align: center;
    font-size: 24px;
    position: absolute;
    z-index: 1000;
    opacity: 0.5;
    animation: glitch-flicker 1s infinite, rgb-shift 2s infinite;
}

.hidden {
    display: none;
}

.container {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.progress-container {
    position: relative;
    width: 100px;
    height: 100px;
}

.progress-bar {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #333;
}

.progress {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #00f;
    transform-origin: center;
    transform: rotate(0deg);
    animation: loading 3s linear infinite;
}

@keyframes loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}