        body {
            background-color: #000000;
            color: #fff;
            font-family: Arial, sans-serif;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
            overflow: hidden;
        }

        #typing-animation::after {
            content: "|";
            animation: blink-caret 0.75s infinite;
        }

        @keyframes typing {
            from { width: 0; }
            to { width: 100%; }
        }

        @keyframes blink-caret {
            from, to { opacity: 1; }
            50% { opacity: 0; }
        }

        @keyframes backspace {
            from { width: 100%; }
            to { width: 0; }
        }

        audio {
            margin-top: 20px;
        }

        .overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.8);
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 999;
        }

        .overlay-text {
            text-align: center;
            font-size: 24px;
        }

        .hidden {
            display: none;
        }

        .label-container {
            display: none;
            margin-top: 10px;
        }

        .label-container a {
            font-size: 16px;
            text-decoration: none;
            color: #fff;
            margin: 0 5px;
        }

        .label-container span {
            font-size: 16px;
            color: #fff;
        }

        .show {
            display: flex;
        }

        .sky {
          position: fixed;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          z-index: -1;
          background: linear-gradient(180deg, #6fc2e917 0%, #182b35 100%);
          /*background: linear-gradient(180deg, #455a64 0%, #b0bec5 100%);*/
        }

        .raindrop {
          background: #ffffff;
          width: 2px;
          height: 20px;
          border-radius: 50%;
          position: fixed;
          animation: 2s linear infinite rainfall;
        }

        @keyframes rainfall {
          from {
            transform: translateY(0);
          }
          to {
            transform: translateY(200vh);
            opacity: 0;
          }
        }